Netflix data analysis

In [4]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
#import library like pandas, numpy, matplotlib
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [6]:
#now take csv file data 

data_netflix = pd.read_csv('netflix_titles.csv')

In [7]:
data_netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [8]:
#firstly check here a duplications have or not 
data_netflix = data_netflix.drop_duplicates()

In [9]:
data_netflix.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

Here we see that all colunm in object and release year in int, date_added convert into date.

In [10]:
data_netflix.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [11]:
#now converting data types and remove NaN
#first is duration let check data
data_netflix['duration'].head(5)

#here problem is 90 min and 2 to x seasons here its object datatype now converting into int its difficult directly
#option1:now replace min and season  with blank
#option2 : make a new saperate column 

#option1 is possible but problem is when i remove min its ok no defination change like if movie duration is 90 min and 90 
#are same but when i change in 1 to x season in 1 to x number data meaning change 
#for example movie name x have 2 season now i remove season make column name is duration that means
#x duration 2 min but that's not true.

#option 2 is make sence to converted into colunm name in duration_min and season 

def convert_duration(x):
    if isinstance(x, str) and 'min' in x:
        return int(x.replace(' min', ''))
    elif isinstance(x, str) and 'Season' in x:
        # Handle the conversion for seasons if necessary
        return   # For now, return None or handle it appropriately
    else:
        return None

# Apply the conversion function safely
data_netflix['duration_minutes'] = data_netflix['duration'].apply(convert_duration)


print(data_netflix['duration_minutes'],data_netflix['duration'])

0        90.0
1         NaN
2         NaN
3         NaN
4         NaN
        ...
8802    158.0
8803      NaN
8804     88.0
8805     88.0
8806    111.0
Name: duration_minutes, Length: 8807, dtype: float64 0          90 min
1       2 Seasons
2        1 Season
3        1 Season
4       2 Seasons
          ...
8802      158 min
8803    2 Seasons
8804       88 min
8805       88 min
8806      111 min
Name: duration, Length: 8807, dtype: object

In [12]:

data_netflix1 = data_netflix.loc[data_netflix['duration'].str.contains( 'Season',na=False)].copy()
    
data_netflix.loc[:,'season'] = data_netflix1['duration']
data_netflix.head()
data_netflix.drop(columns='duration')

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_minutes,season
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,Documentaries,"As her father nears the end of his life, filmm...",90.0,NaN
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",NaN,2 Seasons
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,NaN,1 Season
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",NaN,1 Season
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,NaN,2 Seasons
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",158.0,NaN
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",NaN,2 Seasons
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,88.0,NaN
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",88.0,NaN
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,111.0,NaN

In [13]:
# First, filter rows that contain 'Season' in the 'duration' column
season_data = data_netflix[data_netflix['duration'].str.contains('Season', na=False)]

# Now, split the 'duration' column to separate the number of seasons from the text 'Season'
season_data[['Season number', 'Season']] = season_data['duration'].str.split(' Season', expand=True)

# Remove any unwanted whitespace and check the result
season_data['Season number'] = season_data['Season number'].str.strip()

# Display the result to confirm only the season-related data is present
print(season_data[['Season number', 'Season']])

     Season number Season
1                2      s
2                1
3                1
4                2      s
5                1
...            ...    ...
8795             2      s
8796             2      s
8797             3      s
8800             1
8803             2      s

[2676 rows x 2 columns]

C:\Users\Dell\AppData\Local\Temp\ipykernel_15784\3376517163.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_data[['Season number', 'Season']] = season_data['duration'].str.split(' Season', expand=True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_15784\3376517163.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_data[['Season number', 'Season']] = season_data['duration'].str.split(' Season', expand=True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_15784\3376517163.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_data['Season number'] = season_data['Season number'].str.strip()

In [14]:

group_df = season_data.groupby('Season number').count()
group_df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_minutes,season,Season
Season number,,,,,,,,,,,,,,,
1,1793,1793,1793,184,1508,1458,1793,1793,1791,1793,1793,1793,0,1793,1793
10,7,7,7,0,7,7,6,7,7,7,7,7,0,7,7
11,2,2,2,0,2,2,1,2,2,2,2,2,0,2,2
12,2,2,2,0,2,2,2,2,2,2,2,2,0,2,2
13,3,3,3,0,3,3,2,3,3,3,3,3,0,3,3
15,2,2,2,1,2,2,2,2,2,2,2,2,0,2,2
17,1,1,1,0,1,1,1,1,1,1,1,1,0,1,1
2,425,425,425,21,384,386,421,425,425,425,425,425,0,425,425
3,199,199,199,4,179,188,198,199,199,199,199,199,0,199,199
4,95,95,95,4,93,93,94,95,95,95,95,95,0,95,95
5,65,65,65,6,65,64,64,65,65,65,65,65,0,65,65
6,33,33,33,3,32,33,33,33,33,33,33,33,0,33,33
7,23,23,23,1,23,22,23,23,23,23,23,23,0,23,23
8,17,17,17,3,16,16,17,17,17,17,17,17,0,17,17
9,9,9,9,3,9,8,9,9,9,9,9,9,0,9,9

now we know  that  season with which numbers which solve now find out we have only 15 numbers from 8676 data set so now this data set help me lot

In [15]:
data_netflix.head()
# season_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_minutes,season
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",90.0,NaN
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",NaN,2 Seasons
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,NaN,1 Season
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",NaN,1 Season
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,NaN,2 Seasons

In [16]:
# make a dummy of data 
data_netflix_dummy = data_netflix

In [17]:
#first check data with info
data_netflix_dummy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   show_id           8807 non-null   object
 1   type              8807 non-null   object
 2   title             8807 non-null   object
 3   director          6173 non-null   object
 4   cast              7982 non-null   object
 5   country           7976 non-null   object
 6   date_added        8797 non-null   object
 7   release_year      8807 non-null   int64
 8   rating            8803 non-null   object
 9   duration          8804 non-null   object
 10  listed_in         8807 non-null   object
 11  description       8807 non-null   object
 12  duration_minutes  6128 non-null   float64
 13  season            2676 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 963.4+ KB

In [18]:
#now remove colunm name duration beacuse we seprate season and min.
data_netflix_dummy =  data_netflix_dummy.drop(columns='duration')

In [19]:
data_netflix_dummy.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_minutes,season
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,Documentaries,"As her father nears the end of his life, filmm...",90.0,NaN
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",NaN,2 Seasons
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,NaN,1 Season
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",NaN,1 Season
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,NaN,2 Seasons
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...,NaN,1 Season
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, JosÃ© Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,91.0,NaN
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",125.0,NaN
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...,NaN,9 Seasons
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,"Comedies, Dramas",A woman adjusting to life after a loss contend...,104.0,NaN

In [20]:
data_netflix_dummy.shape

(8807, 13)

In [21]:
data_netflix_dummy['show_id'].drop_duplicates().shape #remove duplicates
#no duplicate found!

(8807,)

Now change datatype

In [22]:
data_netflix_dummy['country']=data_netflix_dummy['country'].fillna('country not here')
data_netflix_dummy.loc[data_netflix.country == 'country not here']
data_netflix_dummy.loc[data_netflix_dummy.cast == 'cast not available']
data_netflix_dummy['cast']=data_netflix['cast'].fillna('cast not available')
data_netflix_dummy['director']=data_netflix_dummy['director'].fillna('director name not available')
data_netflix_dummy.loc[data_netflix_dummy.director == 'director name not available'].head(1)
# data_netflix_dummy['date_added']=data_netflix_dummy['date_added'].astype('datetime64[s]')
data_netflix_dummy['date_added'].isna().sum()
# data_netflix_dummy.loc[data_netflix_dummy.date_added == 'NaN']
# data_netflix_dummy[data_netflix_dummy['date_added'].isna()]

10

In [23]:
data_netflix_dummy['duration_minutes'] = data_netflix_dummy['duration_minutes'].fillna(0)
data_netflix_dummy['season'] = data_netflix_dummy['season'].fillna("season not available")
# data_netflix_dummy['date_added'] = data_netflix_dummy['date_added'].fillna("date not available")
data_netflix_dummy['rating']  = data_netflix_dummy['rating'].fillna("rating not available")

In [24]:
data_netflix_dummy.isna().sum()

show_id              0
type                 0
title                0
director             0
cast                 0
country              0
date_added          10
release_year         0
rating               0
listed_in            0
description          0
duration_minutes     0
season               0
dtype: int64

In [25]:
data_netflix_dummy['listed_in']= data_netflix_dummy['listed_in'].astype('category')
# data_netflix_dummy['date_added']=pd.to_datetime(data_netflix_dummy['date_added'],errors='coerce')
# data_netflix_dummy['date_added'] = data_netflix_dummy['date_added'].fillna("0000-00-00 00:00:00")
data_netflix_dummy['date_added']=pd.to_datetime(data_netflix_dummy['date_added'],errors='coerce')
print(data_netflix_dummy['date_added'].dtype)
print(data_netflix.loc[6066])
data_netflix_dummy.loc[6066]

datetime64[ns]
show_id                                                         s6067
type                                                          TV Show
title                     A Young Doctor's Notebook and Other Stories
director                                                          NaN
cast                Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...
country                                                United Kingdom
date_added                                                        NaN
release_year                                                     2013
rating                                                          TV-MA
duration                                                    2 Seasons
listed_in                    British TV Shows, TV Comedies, TV Dramas
description         Set during the Russian Revolution, this comic ...
duration_minutes                                                  NaN
season                                                      2 Seasons
Name: 6066, dtype: object

show_id                                                         s6067
type                                                          TV Show
title                     A Young Doctor's Notebook and Other Stories
director                                  director name not available
cast                Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...
country                                                United Kingdom
date_added                                                        NaT
release_year                                                     2013
rating                                                          TV-MA
listed_in                    British TV Shows, TV Comedies, TV Dramas
description         Set during the Russian Revolution, this comic ...
duration_minutes                                                  0.0
season                                                      2 Seasons
Name: 6066, dtype: object

In [26]:
data_netflix_dummy['release_year'] = data_netflix_dummy['release_year'].astype(int)
print(data_netflix_dummy['release_year'].dtype)

int32

In [27]:
data_netflix_dummy.groupby('show_id').count()
# show_id = data_netflix_dummy['show_id'].str.split("s",expand=True)
# data_netflix_dummy = pd.concat([data_netflix_dummy, show_id])
data_netflix_dummy['show_id'] = data_netflix_dummy['show_id'].str.lstrip('s')
data_netflix_dummy['show_id'].isna().sum()
data_netflix_dummy['show_id'] = data_netflix_dummy['show_id'].astype(int) 

# show_id

In [28]:
# Step 1: Split 'listed_in' column by commas and stack the genres
data_netflix_genres = data_netflix_dummy['listed_in'].str.split(',', expand=True).stack()


# Step 2: Clean up the genre entries (strip spaces and make everything lowercase)
data_netflix_genres = data_netflix_genres.str.strip().str.lower()

# Step 3: Reset the index (drop=True avoids reindexing issues)
data_netflix_genres = data_netflix_genres.reset_index(level=1, drop=True)

# Step 4: Create a new DataFrame to hold the cleaned genre data
# Important: Use the same index as data_netflix_genres after stacking
data_netflix_split = data_netflix_dummy.loc[data_netflix_genres.index].copy()  # Ensure alignment
data_netflix_split['genre'] = data_netflix_genres

# Step 5: Remove duplicate rows if necessary
data_netflix_split = data_netflix_split.drop_duplicates()

# Step 6: Group by 'genre' to get accurate counts
genre_counts = data_netflix_split.groupby('genre')['show_id'].count().reset_index(name='count')

# Step 7: Check for 'Action & Adventure'
action_adventure_count = genre_counts[genre_counts['genre'] == 'action & adventure']

# Display the count for 'Action & Adventure'
print(action_adventure_count)

# For all genres
print(genre_counts)

                genre  count
0  action & adventure    859
                           genre  count
0             action & adventure    859
1                 anime features     71
2                   anime series    176
3               british tv shows    253
4       children & family movies    641
5              classic & cult tv     28
6                 classic movies    116
7                       comedies   1674
8                 crime tv shows    470
9                    cult movies     71
10                 documentaries    869
11                    docuseries    395
12                        dramas   2427
13          faith & spirituality     65
14                 horror movies    357
15            independent movies    756
16          international movies   2752
17        international tv shows   1351
18                      kids' tv    451
19               korean tv shows    151
20                  lgbtq movies    102
21                        movies     57
22              music & musicals    375
23                    reality tv    255
24               romantic movies    616
25             romantic tv shows    370
26              sci-fi & fantasy    243
27           science & nature tv     92
28     spanish-language tv shows    174
29                 sports movies    219
30               stand-up comedy    343
31  stand-up comedy & talk shows     56
32                 teen tv shows     69
33                     thrillers    577
34         tv action & adventure    168
35                   tv comedies    581
36                     tv dramas    763
37                     tv horror     75
38                  tv mysteries     98
39           tv sci-fi & fantasy     84
40                      tv shows     16
41                  tv thrillers     57

In [29]:
print(genre_counts)

                           genre  count
0             action & adventure    859
1                 anime features     71
2                   anime series    176
3               british tv shows    253
4       children & family movies    641
5              classic & cult tv     28
6                 classic movies    116
7                       comedies   1674
8                 crime tv shows    470
9                    cult movies     71
10                 documentaries    869
11                    docuseries    395
12                        dramas   2427
13          faith & spirituality     65
14                 horror movies    357
15            independent movies    756
16          international movies   2752
17        international tv shows   1351
18                      kids' tv    451
19               korean tv shows    151
20                  lgbtq movies    102
21                        movies     57
22              music & musicals    375
23                    reality tv    255
24               romantic movies    616
25             romantic tv shows    370
26              sci-fi & fantasy    243
27           science & nature tv     92
28     spanish-language tv shows    174
29                 sports movies    219
30               stand-up comedy    343
31  stand-up comedy & talk shows     56
32                 teen tv shows     69
33                     thrillers    577
34         tv action & adventure    168
35                   tv comedies    581
36                     tv dramas    763
37                     tv horror     75
38                  tv mysteries     98
39           tv sci-fi & fantasy     84
40                      tv shows     16
41                  tv thrillers     57

In [30]:
print(data_netflix_split.groupby(['listed_in'])['show_id'].count())

listed_in
Action & Adventure                                              128
Action & Adventure, Anime Features                                2
Action & Adventure, Anime Features, Children & Family Movies     12
Action & Adventure, Anime Features, Classic Movies                6
Action & Adventure, Anime Features, Horror Movies                 3
                                                               ...
TV Horror, TV Mysteries, Teen TV Shows                            3
TV Horror, Teen TV Shows                                          4
TV Sci-Fi & Fantasy, TV Thrillers                                 2
TV Shows                                                         16
Thrillers                                                        65
Name: show_id, Length: 514, dtype: int64

C:\Users\Dell\AppData\Local\Temp\ipykernel_15784\2825442205.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(data_netflix_split.groupby(['listed_in'])['show_id'].count())

In [31]:
data_netflix_split['listed_in'].str.contains('Action & Adventure', na=False).sum()

2525

In [32]:
# Check all rows that contain 'Action & Adventure'
data_netflix_contains = data_netflix_split[data_netflix_split['listed_in'].str.contains('Action & Adventure', na=False)]
print(data_netflix_contains[['show_id', 'listed_in']])

      show_id                                          listed_in
2           3  Crime TV Shows, International TV Shows, TV Act...
2           3  Crime TV Shows, International TV Shows, TV Act...
2           3  Crime TV Shows, International TV Shows, TV Act...
11         12  Crime TV Shows, International TV Shows, TV Act...
11         12  Crime TV Shows, International TV Shows, TV Act...
...       ...                                                ...
8772     8773  Action & Adventure, Comedies, International Mo...
8790     8791                       Action & Adventure, Comedies
8790     8791                       Action & Adventure, Comedies
8792     8793           Action & Adventure, International Movies
8792     8793           Action & Adventure, International Movies

[2525 rows x 2 columns]

In [33]:
data_netflix_split.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_minutes,season,genre
0,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,cast not available,United States,2021-09-25,2020,PG-13,Documentaries,"As her father nears the end of his life, filmm...",90.0,season not available,documentaries

In [34]:
data_netflix_project = data_netflix_dummy 
data_netflix_genres = data_netflix_split

In [110]:
# data_netflix_project = data_netflix_project.drop(['listed_in'],axis=1)
data_netflix_project = data_netflix_project.drop(['country'],axis=1)

In [36]:
data_netflix_project.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,description,duration_minutes,season
0,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,cast not available,United States,2021-09-25,2020,PG-13,"As her father nears the end of his life, filmm...",90.0,season not available

In [37]:
data_netflix_genres = data_netflix_split[['show_id', 'genre']]

In [38]:
data_netflix_genres

      show_id                     genre
0           1             documentaries
1           2    international tv shows
1           2                 tv dramas
1           2              tv mysteries
2           3            crime tv shows
...       ...                       ...
8805     8806  children & family movies
8805     8806                  comedies
8806     8807                    dramas
8806     8807      international movies
8806     8807          music & musicals

[19323 rows x 2 columns]

In [80]:
data_netflix_country = data_netflix_dummy['country'].str.split(',',expand=True).stack()
# print(data_netflix_country.head(1))
data_netflix_country = data_netflix_country.str.strip().str.lower()
data_netflix_country = data_netflix_country.reset_index(level=1, drop=True)
netflix_country = data_netflix_dummy.loc[data_netflix_country.index].copy()
# print(netflix_country)
netflix_country['Country'] = data_netflix_country

netflix_country = netflix_country.drop_duplicates()
netflix_country.count().sum()

# maximum recursion depth exceeded

151789

In [85]:
netflix_country.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_minutes,season,Country
0,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,cast not available,United States,2021-09-25,2020,PG-13,Documentaries,"As her father nears the end of his life, filmm...",90.0,season not available,united states
1,2,TV Show,Blood & Water,director name not available,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",0.0,2 Seasons,south africa
2,3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",country not here,2021-09-24,2021,TV-MA,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,0.0,1 Season,country not here
3,4,TV Show,Jailbirds New Orleans,director name not available,cast not available,country not here,2021-09-24,2021,TV-MA,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",0.0,1 Season,country not here
4,5,TV Show,Kota Factory,director name not available,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,0.0,2 Seasons,india
5,6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",country not here,2021-09-24,2021,TV-MA,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...,0.0,1 Season,country not here
6,7,Movie,My Little Pony: A New Generation,"Robert Cullen, JosÃ© Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",country not here,2021-09-24,2021,PG,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,91.0,season not available,country not here
7,8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",2021-09-24,1993,TV-MA,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",125.0,season not available,united states
7,8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",2021-09-24,1993,TV-MA,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",125.0,season not available,ghana
7,8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",2021-09-24,1993,TV-MA,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",125.0,season not available,burkina faso

In [106]:
netflix_country = netflix_country[['show_id','Country']]

In [108]:
netflix_country = netflix_country[netflix_country!='']


country_gb = netflix_country.groupby('Country')['show_id'].count()
country_gb.head(40)
# print(netflix_country.loc[1])
# netflix_country['Country'].str.contains(" ").fillna("country is not available")
# netflix_country

Country
afghanistan             1
albania                 1
algeria                 3
angola                  1
argentina              91
armenia                 1
australia             160
austria                12
azerbaijan              1
bahamas                 1
bangladesh              4
belarus                 1
belgium                90
bermuda                 1
botswana                1
brazil                 97
bulgaria               10
burkina faso            1
cambodia                6
cameroon                1
canada                445
cayman islands          2
chile                  29
china                 162
colombia               52
country not here      831
croatia                 4
cuba                    1
cyprus                  1
czech republic         22
denmark                48
dominican republic      1
east germany            1
ecuador                 1
egypt                 117
ethiopia                1
finland                11
france                393
georgia                 2
germany               226
Name: show_id, dtype: int64

In [39]:
# group_df1=data_netflix_dummy.groupby('listed_in')
# # group_df1

In [40]:
# data_netflix_dummy.to_json("netflix.js")

In [41]:
# !pip install sqlalchemy

In [42]:
import sqlalchemy

In [43]:
# !pip install pymysql

In [44]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:Qwer!234@localhost:3306/netflix')
# data_netflix_dummy.to_sql(name= 'root',con=,schema='netflix')

In [45]:
# data_netflix_dummy

In [111]:
data_netflix_project.to_sql('netflix_data', engine, if_exists='replace', index=False)

8807

In [113]:
data_netflix_genres.to_sql('netflix_genres', engine, if_exists='replace', index=False)

19323

In [112]:
netflix_country.to_sql('country',engine,if_exists='replace',index=False)

10850